@(product: Form[CreateProductForm],category: Seq[Category])(implicit request: MessagesRequestHeader)

@import helper._

@main("Welcome to Ebiznes - Add product") {
	<h1>Add product:</h1>
	@form(routes.ProductController.addProduct()) {

	  @inputText(product("name"))
	  @inputText(product("description"))

	  <span>Category:</span>
	  <select name="category" id="category">
		@for(cat <- category){
			<option value="@cat.id">@cat.name</option>
		}
	  </select>


		@CSRF.formField

		<div class="buttons">
			<input type="submit" value="Add Product"/>
		</div>
		@request.flash.get("success").map { key =>
			@request.messages(key)
		}
	}

}
